.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
}

.left-div {
  flex: 1;
  margin-right: 10px;
  h2 {
    padding-left: 40px;
  }
  .create-form {
    display: flex;
    flex-direction: column;
  }
}

.right-div {
  flex: 1;
  margin-left: 10px;
  h2 {
    padding-left: 64px;
  }
}
.create-form {
  display: flex;
  flex-direction: column;
  button {
    margin-left: -234px;
    margin-top: 30px;
  }
}
